<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mynatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.suflower.mapper.OrderMapper">
	
	
	<select id="getList" resultType="com.suflower.domain.OrderDTO">
		<![CDATA[
		select * from tbl_order where orderId > 0
		]]>
	</select>
	
	
	<insert id="insert">
		
		insert into tbl_order(orderId, productId, quantity, memberId, sumTotalPrice, reservationDate, orderDate, senderName, receiverName, receiverAddress1, receiverAddress2, receiverContact)
		 values(seq_order.nextval, #{productId}, #{quantity}, #{memberId}, #{sumTotalPrice}, #{reservationDate}, sysdate, #{senderName}, 
		 #{receiverName}, #{receiverAddress1}, #{receiverAddress2}, #{receiverContact})
	</insert>
	
	<!-- ProductMapper의 insertProductSelectKey -->
	<!-- <insert id="insertProductSelectKey">
		
		<selectKey keyProperty="productId" order="BEFORE" resultType="long">
			select seq_product.nextval from dual
		</selectKey>
		
		insert into tbl_product (productId, productType, productName, productQuantity, productPrice)
		values (#{productId}, #{productType}, #{productName}, #{productQuantity}, #{productPrice})
	</insert> -->

	<!-- ProductMapper의 readProduct -->
	<select id="read" resultType="com.suflower.domain.OrderDTO">
		select * from tbl_order where orderId = #{orderId}
	</select>
	
	<!-- ProductMapper의 deleteProduct -->
	<delete id="delete">
		delete from tbl_order where orderId = #{orderId}
	</delete>

	<!-- ProductMapper의 updateProduct -->
	<update id="update">
		update tbl_order set orderQuantity=#{orderQuantity}, 
		orderDate=sysdate, 
		reservationDate=#{reservationDate}, 
		receiverName=#{receiverName},
		receiverAddr1=#{receiverAddr1},
		receiverAddr2=#{receiverAddr2},
		receiverPhoneNum=#{receiverPhoneNum}
		where orderId=#{orderId}
	</update>
</mapper>
	
