<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mynatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.suflower.mapper.ProductMapper">
	
	<!-- ProductMapper의 productList -->
	<select id="productList" resultType="com.suflower.domain.ProductDTO">
		<![CDATA[
		select * from product where productId > 0
		]]>
	</select>
	
	<!-- ProductMapper의 insertProduct -->
	<insert id="insertProduct">
		
		insert into product(productId, productType, productName, productQuantity, productPrice) 
		values(seq_product.nextval, #{productType}, #{productName}, #{productQuantity}, #{productPrice})
	</insert>
	
	<!-- ProductMapper의 insertProductSelectKey -->
	<insert id="insertProductSelectKey">
		
		<selectKey keyProperty="productId" order="BEFORE" resultType="long">
			select seq_product.nextval from dual
		</selectKey>
		
		insert into product (productId, productType, productName, productQuantity, productPrice)
		values (#{productId}, #{productType}, #{productName}, #{productQuantity}, #{productPrice})
	</insert>

	<!-- ProductMapper의 readProduct -->
	<select id="readProduct" resultType="com.suflower.domain.ProductDTO">
		select * from product where productId = #{productId}
	</select>
	
	<!-- ProductMapper의 deleteProduct -->
	<delete id="deleteProduct">
		delete from product where productId = #{productId}
	</delete>

	<!-- ProductMapper의 updateProduct -->
	<update id="updateProduct">
		update product 
		set productType=#{productType}, 
		productName=#{productName}, 
		productQuantity=#{productQuantity}, 
		productPrice=#{productPrice}
		where productId=#{productId}
	</update>
</mapper>
	
