@font-face {
  font-family: "HarmoniaSansProCyr";
  src: url(../fonts/HarmoniaSansProCyr-Regular.otf);
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: "HarmoniaSansProCyr";
  src: url(../fonts/HarmoniaSansProCyr-Bold.otf);
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: "HarmoniaSansProCyr";
  src: url(../fonts/HarmoniaSansProCyr-Italic.otf);
  font-weight: 400;
  font-style: italic; }

ul {
  margin: 0; }

body {
  background-color: #f4f6f8;
  font-family: "HarmoniaSansProCyr"; }

header {
  background-color: #fff; }

.header-contact {
  padding: 25px 0;
  border-bottom: 1px solid rgba(230, 232, 235, 0.5); }
  .header-contact-inform {
    display: inline-block;
    margin-right: 20px;
    font-size: 12px; }
    .header-contact-inform i {
      color: #ff5912; }
  .header-contact ul li {
    display: inline-block;
    margin-left: 15px;
    font-size: 11px;
    list-style: none; }
    .header-contact ul li:first-child {
      margin-left: 0; }
    .header-contact ul li a {
      color: #34404b;
      text-decoration: none; }
      .header-contact ul li a:hover {
        color: #ff5912; }

.navbar-toggle {
  background-color: #F1F1F3;
  color: #fff; }
  .navbar-toggle span {
    display: block;
    width: 22px;
    height: 3px;
    border-radius: 1px;
    background-color: #fff;
    margin-bottom: 3px; }
  .navbar-toggle span:last-child {
    margin-bottom: 0; }

.header-menu {
  padding: 40px 0; }

.main-menu {
  margin-left: 60px; }
  .main-menu li a {
    padding: 10px 15px;
    color: #46515c;
    font-size: 16px; }
  .main-menu li.active a {
    color: #ff5912; }

.nav > li > a:hover, .nav > li > a:focus {
  background: none; }

.service-inform li {
  padding: 10px 0;
  margin-left: 20px;
  display: inline-block;
  list-style: none; }
  .service-inform li a {
    color: #34404b; }
  .service-inform li a:hover {
    color: #ff5912; }

.service-inform li:first-child {
  margin-left: 0; }

.service-inform .basket {
  position: relative; }
  .service-inform .basket a {
    color: #ff5912; }
  .service-inform .basket-count {
    position: absolute;
    top: -8px;
    left: -2px;
    color: #fff;
    background-color: #34404b;
    text-align: center;
    padding-top: 3px;
    font-size: 10px;
    height: 18px;
    width: 18px;
    border-radius: 50%; }

.item {
  min-height: 650px;
  background-color: #f1f1f3; }

.item-1 {
  background-image: url(../img/slider-img.png);
  background-position: right top;
  background-repeat: no-repeat;
  background-size: contain; }

.banner-contain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 650px;
  padding-left: 100px; }

h1 {
  font-size: 52px;
  color: #ff5912;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 40px;
  margin-bottom: 20px; }

.combo-kit {
  font-size: 18px;
  color: #3c4751; }

.description {
  font-size: 16px;
  color: #495662; }

.combo-order {
  margin-top: 60px;
  font-size: 18px;
  color: #34404b; }
  .combo-order a {
    margin-left: 30px;
    color: #ff5912;
    text-decoration: none; }

.banner-carousel ol.carousel-indicators {
  left: 11%;
  top: 45%;
  width: 20px;
  margin: 0;
  z-index: 100; }
  .banner-carousel ol.carousel-indicators li {
    display: block;
    width: 10px;
    height: 20px;
    background-color: #fff;
    margin: 0;
    margin-bottom: 5px;
    border-radius: 0; }
  .banner-carousel ol.carousel-indicators li.active {
    height: 36px;
    background-color: #ff5912; }

.carousel.fade {
  opacity: 1; }

.carousel.fade .item {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  opacity: 0;
  transition: opacity .5s; }

.carousel.fade .item.active {
  position: relative;
  opacity: 1; }

.new-arrivals {
  text-align: center; }

h2 {
  margin-top: 120px;
  margin-bottom: 30px;
  font-size: 36px;
  text-transform: uppercase;
  font-weight: 700;
  color: #46515c; }
  h2 span {
    color: #ff5912; }

.products {
  margin-top: 80px; }
  .products .container {
    padding: 0; }

.product {
  position: relative;
  max-width: 270px;
  min-height: 365px;
  background-color: #fff;
  padding-top: 30px;
  text-align: center;
  margin: 0 auto 30px; }
  .product img {
    margin-bottom: 25px; }
  .product a {
    font-size: 18px;
    font-weight: 700;
    color: #34404b; }

.price {
  font-size: 18px;
  font-weight: 700;
  color: #ff5912;
  margin-top: 30px; }

.product:hover .product-hover {
  opacity: 1; }

.product-hover {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #fff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  padding-top: 30px;
  opacity: 0; }
  .product-hover input[type="radio"] {
    display: none; }
  .product-hover a {
    color: #ff5912; }
  .product-hover img {
    width: 70px;
    height: 90px; }

input[type="radio"]:checked + label span {
  box-shadow: 0 0 5px #ff5912; }

.size {
  margin-top: 25px; }
  .size span {
    line-height: 10px;
    padding: 2px 10px;
    border: 1px solid #f1f1f3; }

.color {
  margin-top: 25px;
  margin-bottom: 25px; }

.circle {
  display: inline-block;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  padding: 0; }

.circle1 {
  background-color: #e12e3f; }

.circle2 {
  background-color: #34404b; }

.circle3 {
  background-color: #3ab3ff; }

.circle4 {
  background-color: #2fd967; }

.underline {
  width: 169px;
  height: 1px;
  background-color: #f2f4f7; }

.product-buttons {
  margin-top: 25px; }
  .product-buttons a {
    color: #34404b;
    padding: 0;
    margin: 0 15px; }
  .product-buttons a.basket {
    color: #ff5912; }

.load-more, .load-more-products {
  width: 97%;
  height: 60px;
  background-color: #fff;
  padding: 25px 0 0 0;
  margin-top: 80px;
  border-radius: 0;
  font-size: 10px; }
  .load-more span, .load-more-products span {
    display: inline-block;
    width: 8px;
    height: 8px;
    background-color: #ff5912;
    border-radius: 50%; }

.load-more-products {
  margin: 0 15px; }

.advert {
  margin-top: 120px; }
  .advert .sale {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100px;
    padding: 5px;
    background-color: #fff;
    font-size: 12px; }
    .advert .sale p {
      margin: 0; }
    .advert .sale a {
      font-size: 32px;
      color: #ff5912;
      font-weight: 700;
      height: 32px;
      margin-left: 80px;
      position: relative;
      text-decoration: none; }
      .advert .sale a::before {
        content: "\f217";
        font-family: "FontAwesome";
        font-size: 22px;
        position: absolute;
        top: 3px;
        left: -40px; }
      .advert .sale a span {
        font-size: 22px; }

.sale-name {
  padding-left: 60px;
  padding-right: 30px;
  border-right: 1px solid #f5f5f6; }

h3 {
  font-size: 22px;
  font-weight: 700;
  color: #34404b;
  text-transform: uppercase;
  margin: 0 0 10px 0; }

.advert-area {
  margin-top: 10px;
  width: 100%;
  height: 100px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  color: #5f6872; }
  .advert-area span {
    color: #ff5912; }
  .advert-area p {
    margin: 0; }
  .advert-area p.adv-size {
    font-size: 12px;
    opacity: 0.4;
    color: #34404b;
    letter-spacing: 7.2px;
    margin-top: 10px; }

.best-sales {
  text-align: center; }

.sale-orders {
  margin-top: 80px; }

.sale-order {
  width: 100%;
  min-height: 161px;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; }
  .sale-order img {
    padding: 0 20px; }
  .sale-order a {
    font-size: 18px;
    font-weight: 700;
    color: #34404b; }
  .sale-order:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1); }

.sale-description {
  border-left: 1px solid #f5f5f6;
  padding-left: 20px; }

.order-mark {
  width: 100%;
  margin-top: 20px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: 700;
  font-size: 16px;
  color: #ff5912; }

.stars {
  font-size: 14px;
  color: #eef0f5; }
  .stars .active {
    color: #ff5912; }

.order-mark-hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  text-align: center;
  opacity: 0; }
  .order-mark-hover a {
    color: #ff5912;
    text-decoration: none;
    font-weight: 400; }

.sale-order:hover .order-mark-hover {
  opacity: 1; }

.subscription {
  display: flex;
  flex-wrap: wrap;
  margin: 120px 0;
  width: 100%;
  background-color: #fff;
  align-items: center;
  padding: 30px; }
  .subscription h4 {
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ff5912;
    margin: 0;
    margin-right: 20px;
    height: 15px;
    display: inline-block; }
  .subscription p {
    display: inline-block;
    margin: 0;
    height: 15px;
    font-size: 14px;
    font-style: italic; }

.subs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 100px; }
  .subs input {
    outline: none;
    border: none;
    color: #7c8791;
    font-size: 14px;
    font-style: italic;
    position: relative; }
  .subs i {
    color: #ff5912;
    margin-right: 10px; }

.join {
  background-color: #ff5912;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  padding: 17px 29px 18px;
  border: none; }

footer {
  background-color: #fff;
  padding: 90px 0; }
  footer p.copyright {
    font-size: 13px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 20px;
    color: #28313b; }
  footer ul {
    padding-left: 50px; }
  footer ul li, footer ul li a {
    color: #28313b; }
  footer ul li a:hover, footer ul li:hover {
    text-decoration: none;
    color: #ff5912; }

.footer-col-min {
  padding-left: 20px; }

h5 {
  color: #ff5912;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  margin-right: 42px; }

main {
  margin-top: 120px; }

.filter {
  max-width: 268px;
  background-color: #fff;
  padding: 40px;
  margin-bottom: 30px;
  font-size: 16px; }
  .filter ul {
    padding: 0; }
    .filter ul li {
      list-style: none;
      margin-bottom: 35px;
      line-height: 16px; }
      .filter ul li a {
        font-size: 16px;
        font-weight: 700;
        color: #34404b; }
    .filter ul li:last-child {
      margin-bottom: 0; }
  .filter h4 {
    margin-bottom: 40px; }
  .filter-category {
    min-height: 302px; }
  .filter-price {
    min-height: 190px; }
  .filter-sizes {
    min-height: 302px; }
  .filter-brands {
    min-height: 302px; }

h4 {
  font-size: 18px;
  font-weight: 700;
  color: #ff5912;
  margin: 0; }

.easy-basket-filter {
  width: 90%;
  margin-top: 60px;
  position: relative; }

.fill {
  height: 3px;
  width: 100%;
  background-color: #34404b;
  position: absolute;
  top: 20px;
  left: 0;
  z-index: 2; }

.easy-basket-filter-info {
  box-sizing: border-box;
  padding: 0;
  width: 100%;
  justify-content: space-between;
  position: absolute;
  top: -35px; }

.easy-basket-filter-info p {
  color: #34404b;
  padding: 4px 6px 2px;
  margin: 0;
  border: 1px solid #34404b; }

.easy-basket-filter-info .iLower {
  float: left;
  display: inline-block; }

.easy-basket-filter-info .iUpper {
  float: right;
  display: inline-block; }

.easy-basket-filter-info input {
  width: inherit;
  border: none;
  color: #34404b;
  font-size: 11px;
  width: 35px;
  text-align: center; }

/***** Position dual *****/
.range {
  position: absolute;
  left: 0;
  top: 20px; }

/****** Style range ******/
input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin: 0;
  background: transparent; }

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  cursor: pointer;
  position: relative;
  z-index: 3; }

input[type=range]:focus, input[type=text]:focus {
  outline: none; }

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 11px;
  width: 11px;
  box-shadow: 0 1px 5px -1px rgba(0, 0, 0, 0.5);
  border-radius: 100%;
  background: #34404b;
  cursor: pointer;
  margin-top: -4px; }

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  background: #edf0f2;
  border-radius: 1.3px; }

input[type="checkbox"] {
  display: none; }

label.check {
  position: relative;
  margin-left: 20px; }

label.check::before {
  content: '';
  position: absolute;
  top: 0px;
  left: -20px;
  padding: 0;
  width: 13px;
  height: 13px;
  border: 4px solid #edf0f2;
  background-color: #edf0f2; }

input[type="checkbox"]:checked + label.check::before {
  border-color: #ff5912; }

input[type="checkbox"]:checked + label {
  color: #ff5912; }

.product-show {
  background-color: #fff;
  padding: 104px 0; }

.gallery-panel {
  text-align: center;
  width: 100%;
  min-height: 345px; }

.thumbs {
  display: flex;
  justify-content: center; }

.thumb {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95px;
  height: 70px;
  margin-right: 15px;
  background-color: #f4f6f8;
  z-index: 1; }

.thumb:last-child {
  margin-right: 0; }

.active-thumb {
  background-color: #ff5912;
  z-index: 2; }
  .active-thumb img {
    opacity: 0.3; }

.product-show h1 {
  margin: 0;
  line-height: 52px; }

.description-full {
  font-size: 18px;
  margin-top: 25px; }

.product-about {
  max-width: 520px;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  color: #495662; }

hr {
  width: 100%;
  height: 1px;
  background-color: #edeff1;
  margin: 40px 0; }

.choose {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  font-weight: 400;
  color: #34404b;
  flex-flow: row wrap; }

.choose-active {
  display: inline-block;
  margin-left: 21px; }

.choose .size {
  display: inline-block;
  width: 15px;
  height: 20px;
  font-size: 14px;
  line-height: 20px;
  margin: 0; }

input[type="radio"] {
  display: none; }

input[type="radio"]:checked + label.size {
  font-size: 18px;
  color: #ff5912; }

input[type="text"].count-items {
  width: 15px;
  text-align: center;
  padding: 0;
  border: none;
  color: #ff5912; }

.plus, .minus {
  cursor: pointer;
  border: none;
  outline: none;
  font-size: 18px;
  padding: 0 5px;
  background-color: #fff; }

.choose-separate {
  width: 2px;
  height: 26px;
  background-color: #edeff1; }

.choose-price {
  color: #34404b;
  font-weight: 700;
  font-size: 20px; }

input.total {
  width: 40px;
  text-align: right;
  border: none; }

.choose-order i {
  margin: 0 15px; }

.choose-order i:hover {
  color: #ff5912; }

.choose-order .submit-order {
  color: #fff;
  background-color: #ff5912;
  width: 134px;
  height: 49px;
  border-radius: 25px;
  outline: none; }

.related-products {
  margin-top: 120px; }
  .related-products span {
    color: #ff5912; }
  .related-products .product-about {
    text-align: center;
    margin: 30px auto 80px; }

@media (max-width: 1170px) {
  .advert .sale {
    padding-left: 20px; }
  .advert .sale-name {
    padding-left: 20px; }
  .sale-order img {
    padding: 5px; }
  .sale-description {
    padding-left: 10px; }
  .subscription h4 {
    margin-right: 5px; } }

@media (max-width: 990px) {
  .item-1, .item-2, .item-3 {
    background-size: cover; }
  .subs {
    padding-left: 0; }
  .sale-order {
    margin-bottom: 10px; } }

@media (max-width: 450px) {
  .subscription {
    padding: 10px; } }
